<div class="row">
	<h1 class="page-header">Edit <%= @inventory.product.name %>'s Inventory</h1>
	<%= link_to "Return", inventories_path, class: "btn btn-md btn-default" %>
</div>
<br>
<div class="row">
	<%= simple_form_for @inventory do |form| %>
	<% if @inventory.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@inventory.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @inventory.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <%= form.label "Branch" %>
  <%= form.select :branch_id, @branches, :prompt => "Select a brand", class: "form-control" %>
  <br>
  <%= form.label "Product" %>
  <%= form.select :product_id, @products, :prompt => "Select a product", class: "form-control" %>
  <br>
  <%= form.input :stock %>
  <%= form.input :price, { type: "number", step: "0.01" } %>
  <%= form.button :submit, class: "btn btn-md btn-success" %>
<% end %>
</div>