<%= simple_form_for @product do |form| %>

 <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@product.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @product.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
	<%= form.input :name, class: "form-control" %>
	<%= form.input :description, class: "form-control" %>
	<%= form.label "Category" %>
	<%= select_tag(:category_id, options_for_select(@categories), :prompt => "Select a Category", class: "form-control") %>
	<br>
	<%= form.label "Brand" %>
	<%= select_tag(:brand_id, options_for_select(@brands), :prompt => "Select a Brand", class: "form-control") %>
	<br>
	<%= form.button :submit, class: "btn btn-md btn-success" %>
<% end %>